<footer class="footer absolute w-screen sm:inline-block flex flex-col z-50 pin-b sm:text-center">
  <div class="text-sm font-light tracking-wide text-sm md:text-xs sm:inline-block flex flex-col">
    <a href="mailto:jk8708@gmail.com" class="underline">Contact</a> <span class="hidden sm:inline">&nbsp;|&nbsp;</span> Lead Designer at <a class="underline" href="https://www.mckenziewagner.com" target="_blank" rel="noreferrer">McKenzie Wagner Inc</a><span class="hidden sm:inline">&nbsp;|&nbsp;</span>&copy; {{ now.Year }} Jacob Kelley
  </div>
</footer>

<script src="/app.js"></script>

</body>

</html>
