<footer class="footer absolute w-screen inline-block z-50 pin-b sm:text-center">
  <div class="text-sm font-light tracking-wide">
    <a href="mailto:jk8708@gmail.com" class="underline">Contact</a> &nbsp; | &nbsp;&copy; {{ now.Year }} Jacob Kelley
  </div>
</footer>

<script src="/app.js"></script>
<!--
<script data-no-instant>InstantClick.init();</script>
<script data-no-instant>
  addMenuListener();
  InstantClick.on('change', function() {
    addMenuListener();
  });
  function addMenuListener() {
    var $toggle = document.querySelector('.menu-toggle');
    var $body = document.querySelector('body');
    $toggle.addEventListener('click', function() {
      $body.classList.toggle('noscroll');
    }, false);
  }
</script>
-->
</body>

</html>
