<header class="header absolute w-full flex justify-center flex-row items-center z-50">
  <h1 class="font-sans text-base uppercase tracking-wide">
    <a class="logo sm:pt-20 inline-block" href="{{.Site.BaseURL}}">
      {{ partial "logo.html" . }}
    </a>
  </h1>
  <!-- <button class="menu-toggle" type="button"></button> -->
  <!-- <nav class="menu"> -->
  <!--   <ul> -->
  <!--     {{ $currentPage := . }} -->
  <!--     {{ range .Site.Menus.main }} -->
  <!--     <li class="{{ if $currentPage.IsMenuCurrent `main` . }}active{{ end }}"> -->
  <!--       <a href="{{ .URL }}">{{ .Name }}</a> -->
  <!--     </li> -->
  <!--     {{ end }} -->
  <!--   </ul> -->
  <!-- </nav> -->
</header>
