</main>
<footer class="footer fixed w-screen inline-block z-50 pin-b">
  <span>&copy; {{ now.Year }} {{ .Site.Title }}</span>
</footer>
<script src="/app.js"></script>
<script data-no-instant>InstantClick.init();</script>
<script data-no-instant>
  addMenuListener();
  InstantClick.on('change', function() {
    addMenuListener();
  });
  function addMenuListener() {
    var $toggle = document.querySelector('.menu-toggle');
    var $body = document.querySelector('body');
    $toggle.addEventListener('click', function() {
      $body.classList.toggle('noscroll');
    }, false);
  }
</script>
</body>
</html>
