<!doctype html>
<html lang="en">
  {{ partial "head" . }}
  <body class="sans-serif">
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }} 
    {{ partial "footer" . }} 
    <div class="absolute z-30 w-screen h-screen pin">
      <div class="flex flex-row w-full h-full">
        <button class="block w-full h-full bg-transparent border-none outline-none prev cursor-prev">&nbsp;</button>
        <button class="block w-full h-full bg-transparent border-none outline-none next cursor-next">&nbsp;</button>
      </div>
    </div>
  </body>
</html>
