<!doctype html>
<html lang="en">
  {{ partial "head" . }}
  <body class="sans-serif">
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }} 
    {{ partial "footer" . }} 
    <div class="absolute w-screen h-screen pin z-30">
      <div class="flex flex-row w-full h-full">
        <button class="prev cursor-prev block w-full h-full bg-transparent border-none">&nbsp;</button>
        <button class="next cursor-next block w-full h-full bg-transparent border-none">&nbsp;</button>
      </div>
    </div>
  </body>
</html>
