{{ define "main" }}

  <main class="w-screen h-screen">
    <div class="bg-grey-lighter w-full h-full">
      <nav class="h-full absolute pin">
        <div class="bg-transparent">
          <!-- <input type="checkbox" id="left" class="z-30 opacity-0 w-full h-full"> -->
          <!-- <label class="font-sans h-full w-1/2 bg-transparent z-30" for="left"> -->
          <!-- </label> -->
            <div class="mx-auto absolute carousel flex flex-row justify-center items-center w-screen h-screen -mt-10">
              {{ range $i, $image := .Params.galleryImages }}

                <div class="slide-{{ $i }} z-10 {{ if (ne $i 0) }} hidden {{ else }} flex {{ end }} absolute m-auto h-auto w-full select-none flex-col justify-center items-center">
                  <input type="checkbox" checked id="control-{{ $i }}" class="z-30 opacity-0 w-full h-full select-none">
                  <label for="control-{{ $i }}">
                    <img
                      style="max-width: 950px;"
                      class="carousel-img-{{ $i }}"
                      data-key="{{ $i }}"
                      src="{{ $image }}"
                    /> 
                  </label>
                </div>

              {{end}}
            </div> 
        </div>
      </nav>
    </div>
  </main>

{{ end }}
