{{ define "main" }}

  <main class="z-20 relative main w-screen h-screen overflow-hidden">
    <div class="bg-grey-lighter w-full h-full">
      <nav class="h-full absolute pin">
        <div class="bg-transparent">
          <div class="mx-auto sm:mt-6 absolute carousel flex flex-row justify-center items-center w-screen h-screen">

            {{ range $i, $image := .Params.galleryImages }}
              <div class="slide slide-{{ $i }} {{ if eq $i 0 }} flex {{ else }} hidden {{ end }} z-10 absolute m-auto h-auto w-full select-none flex-col justify-center items-center">
                <img
                  class="cursor-pointer carousel-img-{{ $i }}"
                  data-key="{{ $i }}"
                  src="{{ $image }}"
                /> 
              </div>
            {{end}}

          </div> 
        </div>
      </nav>
    </div>
  </main>

{{ end }}
